.aboutBody {
  margin: 40px 0px;
}
.skills_tools_div {
  margin: 20px 0px;
}
.about_div {
  text-align: center;
}

.about_me {
  font-size: 25px;
  font-family: 'Fredoka One';
  color: #11998e;
  letter-spacing: 4px;
}

.skill_container {
  margin: 40px 0px;
}

.about_skill {
  text-align: center;
}
.about_info {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  padding: 0 2px 0 2px;
  line-height: 25px;
  padding: 10px;
  margin-right: 5%;
  margin-left: 5%;
  opacity: 1;
  transform: translate(0px, 0px);
}


.skin_item {
  align-items: center;
  text-align: center;
  padding: 0;
  opacity: 1;
  transform: translate(0px, 0px);
}
.image_box img {
  width: 70%;
  height: 35px;
  margin-bottom: 2%;
  background-position: center;
  background-size: cover;
}

.image_box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(255, 255, 255, 1);
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_box i {
  color: #11998e;
  font-size: 20px;
}

.image_box img {
  color: #11998e;
  font-size: 20px;
}

.text {
  color: #11998e;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Fredoka One';
  margin-top: 1.2rem;
}

.image_box:hover {
  padding-top: 1%;
  transform: translateX(5px);
  transition: 0.5s ease;
}
.divisor {
  width: 100%;
  height: 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 -3px 8px rgba(255, 255, 255, 1);
}
.skill_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-radius: 20px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}
.seperator {
  border-top: 1px solid #252525;
  max-width: 40%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
}
@media only screen and (min-width: 1071px) {
  .aboutBody {
    margin-top: 3%;
  }

  .skill_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 15px;
    margin-top: 3%;
    margin-bottom: 4%;
  }
  .image_box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
      -6px -6px 12px rgba(255, 255, 255, 1);
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_box i,
  .image_box img {
    color: rgb(55, 150, 131, 0.9);
    font-size: 50px;
  }
  .text {
    color: #11998e;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Fredoka One';
    margin-top: 1.2rem;
  }
  .seperator {
    border-top: 1px solid #252525;
    max-width: 20%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .about_info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0 2px 0 2px;
    line-height: 50px;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
  }
}
