@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.landingpage {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.landing_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 4rem 2rem 2rem;
  margin: 60px auto;
  align-content: center;
}

/*.box {
  position: relative;
  border: 5px solid black;
  width: 400px;
  height: 413px;
  top: 130px;
  left: 150px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}*/
.profile_grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_grid_item img {
  position: relative;
  z-index: 1;
  width: 260px;
  height: 340px;
  text-align: center;
  justify-content: center;
  z-index: 0;
  box-shadow: 7px 7px #38ef7d;
  border-radius: 10px;
}

.about .links {
  margin: 30px 0px
}
.moreBtn {
  box-shadow: none;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #11998e;
  padding: 10px 20px;
  outline: none;
  font-family: "Roboto Mono", monospace;
  border: 0;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 20px;
}
.moreBtn:hover {
  color: #11998e;
  background-color: #fff;
  transition: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.about p {
  margin-top: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 0 2px 0 2px;
  line-height: 50px;
}
.profile_name {
  font-family: 'Fredoka One';
  padding-left: 0%;
}

.about h1 {
  color: #ffffff;
  font-family: 'Fredoka One';
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0px;
  animation: expand 5000ms ease-in-out;
  letter-spacing: 1px;
}
@media (min-width: 414px ) {
  .about h1 {
    font-size: 32px;
    letter-spacing: 2px;
  }
}
@keyframes expand {
  0% {
      letter-spacing: -10px;
  }

  50% {
      letter-spacing: 5px;
  }

  70% {
      letter-spacing: -3px;
  }

  100% {
      letter-spacing: 2px;
  }
}
.about h1 span {
  color: #38ef7d;
  margin-left: 2px;
  font-size: 30px;
}
.greetings {
  font-size: 19px;
  color: white;
}

.typing-effect {
  font-family: 'Fredoka one';
  font-size: 20px;
  color: white;
}
.about p {
  margin-top: 3%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  padding: 0 2px 0 2px;
}

.ArrowRight {
  color: white;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.social{
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
}
.social a i {
  text-decoration: none;
  cursor: pointer;
  color: #38ef7d;
  font-size: 24px;
  margin: 20px 4px;
  transition: all 0.5s ease-in-out;
}
.social a i:hover {
  transform: translateX(-5px);
}
.socialScroll {
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
}
.socialScroll a i {
  text-decoration: none;
  cursor: pointer;
  color: #11998e;
  font-size: 24px;
  margin: 20px 4px;
  transition: all 0.5s ease-in-out;
}
.socialScroll a i:hover {
  transform: translateX(-5px);
}

@keyframes example {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60%);
  }
}

.bg-shapes div {
  position: absolute;
  opacity: 0.2;
}
.bg-shapes div:nth-child(1) {
  height: 200px;
  width: 200px;
  top: 40%;
  left: calc(0% - 100px);
  background-color: #ffffff;
  border-radius: 50%;
  animation: shape01 10s linear infinite;
}

.bg-shapes div:nth-child(2) {
  height: 80px;
  width: 80px;
  top: 20%;
  right: -10%;
  background-color: transparent;
  border: 5px solid #ffffff;
  animation: shape02 10s linear infinite;
  
}

.bg-shapes div:nth-child(3) {
  height: 60px;
  width: 60px;
  top: 80%;
  right: -10%;
  background-color: transparent;
  border: 5px solid #ffffff;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50%;
  animation: shape03 7s linear infinite;
}
@keyframes shape01 {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}


@keyframes shape02 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes shape03 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 768px) {
  .landingpage {
    height: 100vh;
  }

  .landing_grid {
    width: 100%;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    align-content: center;
  }
  .profile_grid_item img {
    width: 320px;
    height: 440px;
    z-index: 0;
  }

  .about {
    justify-content: start;
    margin-top: 60%;
  }
  .about p {
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0 2px 0 2px;
    line-height: 50px;
  }

  .about h1 {
    font-size: 32px;
  }

  .about h1 span {
    font-size: 40px;
  }

  .profile_name {
    font-family: 'Fredoka One';
  }
  .name {
    font-size: 2rem;
    color: white;
  }

  .typing-effect {
    font-family: 'Fredoka one';
    font-size: 24px;
  }

  .resumeButton {
    width: 25%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
  }
  .resumeButton:hover {
    color: black;
    background-color: white;
  }

  .ArrowRight {
    color: white;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes example {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(30%);
    }
  }
  .social a i {
    font-size: 25px;
    margin: 30px 4px;
  }
  .socialScroll a i {
    font-size: 25px;
    margin: 30px 4px;
  }

  .bg-shapes div:nth-child(2) {
    height: 100px;
    width: 100px;
    top: 20%;
    right: -4%;
  }
  .bg-shapes div:nth-child(3) {
    height: 100px;
    width: 100px;
    top: 80%;
    right: -4%;
  }
}

@media only screen and (min-width: 1024px) {
  .landingpage {
    height: 100vh;
  }
  .landing_grid {
    margin: 0;
  }
  .greetings {
    font-size: 30px;
  }
  .about {
    margin-top: 40%;
    margin-left: 2rem;
    line-height: 30px;
  }
  .about h1 {
    font-size: 40px;
    margin: 20px 0px;
  }
  .typing-effect {
    font-size: 30px;
  }
  .moreBtn {
    padding: 10px 30px;
    letter-spacing: 3px;
    font-size: 18px;
  }
  .social {
    right: 10px;
  }
  .social a i{
    font-size: 30px;
  }
  .profile_grid_item img{
    box-shadow: 10px 10px #38ef7d;
    width: 340px;
    height: 450px;
    margin-top: 20px;
  }
  .socialScroll  {
    right: 10px;
  }
  .socialScroll a i{
    font-size: 30px;
  }
}

