@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
.sidebarCOntainerShow {
  transform: translateY(-160%);
  transition: transform 1s ease-out;
  background-color: #09090f;
  color: #38ef7d;
  height: calc(100vh - 60px);
  width: 100%;
  position: fixed;
  z-index: 600;
  text-align: center;
  font-size: 28px;
  margin: auto;
}

.sidebarContainer {
  transform: translateY(0);
  transition: transform 1s ease-in;
  background-color: #09090f;
  color: #38ef7d;
  font-family: 'Fredoka One';
  height: calc(100vh - 60px);
  width: 100%;
  position: fixed;
  z-index: 600;
  text-align: center;
  font-size: 28px;
  margin: auto;
}

.sidebarCOntainerShow .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebarContainer .sidebar {
  
}
.sidebarCOntainerShow .sidebar .sideItem {
  font-size: 18px;
  margin-top: 50px;
}
.sidebarContainer .sidebar .sideItem {
  font-size: 18px;
  margin-top: 50px;
}
.sidebarContainer .sidebarl .sideItem:hover {
  color: grey;
}

.resumesidebar {
  color: white;
}
.resumesidebar:hover {
  color: grey;
}

@media only screen and (min-width: 1071px) {
  .sidebarContainer {
    transform: translateX(-100%);
  }
}
