@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
  --primary-color: rgb(5, 56, 107);
  --links-btn-color: rgb(55, 150, 131, 0.9);
  --secondary-color: #5cdb95;
  --hover-color: rgba(44, 111, 178, 0.65);
  --mainTransition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
  background: #ececec;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  animation: softload 2s;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background: #eaeaea;
}
@keyframes softload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.App {
  width: 100%;
  cursor: pointer;
}
.navigation {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
  height: 60px;
}
.resume {
  color: black;
}
.resume:hover {
  color: grey;
}

@font-face {
  font-family: Santeria;
  src: url('./txt/Santeria.ttf');
}
.headerName {
  font-family: Santeria;
  color: white;
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 7px;
}

.headerName span {
  margin-right: 5%;
}
.headerName:hover {
  color: grey;
}

.navigation ul {
  display: none;
}

.barIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 28px;
  margin-top: 3%;
  margin-right: 10%;
}
.sidebar {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1031px) {
  .sidebar {
    display: none;
  }
  .navigation {
    color: black;
    display: flex;
    width: 100%;
    height: 66px;
  }

  .headerName {
    color: white;
    display: flex;
    margin-left: 1.8%;
    margin-top: 3%;
    font-size: 53px;
    letter-spacing: 5px;
  }
  .headerName:hover {
    color: grey;
  }

  .navigation ul {
    color: white;
    display: flex;
    list-style: none;
    margin-left: 42%;
    margin-top: 2%;
    font-size: 20px;
  }

  .navigation ul li {
    margin-left: 8%;
    cursor: pointer;
    text-transform: uppercase;
  }

  .barIcon {
    display: none;
  }

  .resume {
    color: white;
  }
}
