@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

:root {
  --primary-color: rgb(5, 56, 107);
  --links-btn-color: rgb(55, 150, 131, 0.9);
  --secondary-color: #5cdb95;
  --hover-color: rgba(44, 111, 178, 0.65);
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  background: #ececec;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  animation: softload 2s;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background: #eaeaea;
  overflow-x: hidden;
}
@keyframes softload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.App {
  width: 100%;
  cursor: pointer;
}
.navigation {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1000;
  height: 60px;
}
.resume {
  color: black;
}
.resume:hover {
  color: grey;
}

@font-face {
  font-family: Santeria;
  src: url('./txt/Santeria.ttf');
}
.headerName {
  font-family: Santeria;
  color: #ffffff;
  display: flex;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 7px;
}

.headerName span {
  margin-right: 5%;
}
.headerName:hover {
  color: #11998e;
}

.navigation ul {
  display: none;
  font-family: Fredoka One;
}

.barIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 28px;
  margin-top: 2%;
  margin-right: 3%;
}
.barIcon  label {
  width: 60px;
  height: 50px;
  display: inline-block;
  padding: 13px;
  cursor: pointer;
}
.barIcon label span {
  width: 100%;
  height: 12px;
  display: block;
  border-top: 2px solid #38ef7d;
}
.barIcon label span:nth-child(1) {
  width: 80%;
}
.barIcon label span:nth-child(3) {
  width: 80%;
}
.sidebar {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .sidebar {
    display: none;
  }
  .navigation {
    color: black;
    display: flex;
    width: 100%;
    height: 66px;
    align-items: center;
    justify-content: space-between;
  }

  .headerName {
    color: #ffffff;
    display: flex;
    margin: 10px 20px 0px;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 16px;
  }
  .headerName:hover {
    color: #11998e;
  }

  .navigation ul {
    display: flex;
    list-style: none;
    margin: 10px 20px;
    font-size: 18px;
  }

  .navigation ul li {
    color: #ffffff;
    margin: 0px 15px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .navigation ul li:hover {
    color: #38ef7d;
  }

  .barIcon {
    display: none;
  }

  .resume {
    color: black;
  }
}
